torch==2.10.0
nvidia-ml-py # Replacement for deprecated pynvml
certifi # Required for SSL cert resolution

horde_sdk~=0.17.0
horde_safety~=0.3.0
horde_engine~=2.22.2
horde_model_reference~=0.10.0

python-dotenv
ruamel.yaml
semver
wheel

python-Levenshtein

pydantic>=2.9.2
typing_extensions
requests
StrEnum
loguru

babel
